In [4]:
%load_ext ngql
connection_string = f"--address 127.0.0.1 --port 9669 --user root --password nebula"
%ngql {connection_string}

The ngql extension is already loaded. To reload it, use:
  %reload_ext ngql
Connection Pool Created

             Name
0  digital_safety
1    rag_workshop

In [5]:
%ngql USE rag_workshop;
%ngql MATCH ()-[e]->() RETURN e

                                                     e
0    ("évents")-[:relationship@-3431488967660501439...
1    ("zone_de_surpression")-[:relationship@-738609...
2    ("zone_de_surpression")-[:relationship@-738609...
3    ("zone_de_surpression")-[:relationship@-738609...
4    ("zone_de_surpression")-[:relationship@-738609...
..                                                 ...
972  ("fumées")-[:relationship@-3640410747914980111...
973  ("fonctionnement normal")-[:relationship@-7396...
974  ("Implantation")-[:relationship@65928469527764...
975  ("Implantation")-[:relationship@65928469527764...
976  ("Implantation")-[:relationship@65928469527764...

[977 rows x 1 columns]

In [6]:
%ng_draw

<class 'pyvis.network.Network'> |N|=898 |E|=977